.postSinglePageWrapper{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}

.postSinglePageWrapper .imgWrapper {
    width: 100%;
    margin-bottom: 15px;
}

.postSinglePageWrapper .imgWrapper img {
    width: 100%;
    height: auto;
}