.errorWrapper {
    border: 1px solid red;
    padding: 25px 5px;
    background-color: rgba(233, 214, 214, 0.904);
}

.errorWrapper .message {
    font-size: 1.3em;
    font-weight: 200;
    color: red;
    text-align: center;
}