.weatherSmallWrapper{
    padding:10px;
    width: 16.66%;
    border-left:1px solid grey;
}
.weatherSmallWrapper:first-of-type{
    border: none;

}

.weatherSmallWrapper .date{
    font-size: 1.3em;
}

.weatherSmallWrapper .temp{
    text-align: center;
}

.weatherSmallFlexContainer{
    display: flex;
    align-items: center;
}
.weatherSmallFlexContainer div{
    width: 33.33%;
}

.weatherSmallWrapper img {
width: 100%;
}


.weatherSmallWrapper .description{
    text-align: center;
    font-weight: 200;
}