.searchFormWrapper{
    margin-bottom: 10px;
    min-height: 70px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchFormWrapper .form{
    display: flex;
    max-width: 300px;
    height: 50px;
    padding: 5px;
    
}
.searchFormWrapper .form .input{
    width: 80%;
    height: 100%;
    font-size: 1.2em;
}
.searchFormWrapper .form .button{
    height: 100%;
    width:20%;
    cursor: pointer;
}