.weatherPostItemWrapper{
    width: 300px;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherPostItemWrapper .title{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
}

.weatherPostItemWrapper .imgWrapper{
    width: 150px;
}
.weatherPostItemWrapper .imgWrapper img{
    width: 100%;
    height: auto;
}
