.feedBackFormWrapper h1{
    padding: 20px;
    text-align: center;
}

.feedBackFormWrapper form{
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.feedBackFormWrapper input {
    width: 100%;
    font-size: 1em;
    padding: 10px 5px;
    margin-bottom: 15px;
    border-color: blue
}

.feedBackFormWrapper label {
    width: 100%;
    margin-bottom: 10px;
}
.feedBackFormWrapper textarea{
    outline: none;
    resize: none;
    width: 100%;
}
.feedBackFormWrapper textarea:focus{
    border: 2px solid blue;
}

.feedBackFormWrapper button{
    width: 20%;
    padding:5px;
}