.currentWeatherWrapper{
    max-width: 350px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 20px;
}

.currentWeatherWrapper .description{
    margin-left: 5px;
}

.mainInfo{
    display: flex;
    align-items: center;
}


.currentWeatherWrapper .temp{
    font-size: 3em;
}

.additionalInfo{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}

.additionalInfoItem{
    width: 50%;
    color: gray;
    text-align: center;
}
.additionalInfoItem span {
    font-weight: 600;
    color: rgb(61, 61, 61);
    margin-left: 5px;
}