.navigationWrapper {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding: 40px 10px 10px;
}

.navigationWrapper a{
    padding: 10px;
    border: 1px solid white;
}

.navigationWrapper a:hover{
    border-bottom-color: grey;
}

.navigationWrapper a.active{
    border-color: grey;
}
