@font-face {
  font-family: 'Murecho';
  font-weight: normal;
  font-style: normal;
  src: local('Murecho') url('./assets/fonts/Murecho/Murecho-Thin.woff') format('woff'),
      local('Murecho') url('./assets/fonts/Murecho/Murecho-Thin.woff2') format('woff2'),
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Murecho' ,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: inherit;
  text-decoration: none;
}

